body {
  background: linear-gradient(135deg, #fff 0%, #999 100%);
  font-family: sans-serif;
}

h1 {
  font-size: 5rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  line-height: 0;
  margin: 0;
}